* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

button:focus  {
    border: none;
    outline: none;
}

input:focus {
    border: none;
    outline: none;
}

main  {
  width: 100%;
  height: 100%;
}


/* Side Nav menu
/*------------------------------------*/

.nav {
  width: 0px; /* changes width on click*/
  height: 100%;
  position: fixed;
  padding-top: 30px 0 200px 0;
  background-color: #354052;
  overflow-x: hidden;
  transition: 0.5s; 
  z-index: 1;
}

.side-nav-open  { /* used in script*/
  width: 250px;
}

.nav-pic-container{
    color: #222;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 15px;
}

.profile-pic-container {
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin: auto;
  z-index: 2;
  position: relative;
  border-radius: 65px;
  margin: 30px auto 12px;
}

.profile-pic  {
  height: 180px;
  position: absolute;
  left: -18px;
  object-fit: cover;
}

.profile-name {
  display: inline;
  color: #a6b1c3;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 auto;
}

.profile-name:hover  {
  color: #FFF;
  cursor: pointer;
}

.profile-image-arrow  {
  height: 20px;
  width: 20px;
  position: relative;
  top: 4px;
}

.bottom-space {
  width: 100%;
  height: 200px;
}

.nav-container:hover .nav-headers {
  color: #FFF;
  text-decoration: underline;
}

.nav-container:hover{
  background: #424d5f;
}

.nav-headers  {
  font-size: 13px;
  color: #a6b1c3;
  padding: 36px 8px 8px 32px;
  margin-bottom: 10px;
}

.side-link{
  display: inline;
  margin-left: 15px;
  position: relative;
}

a {
  font-family:   ;
  color: #a6b1c3;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s
}

.nav-link:hover {
  color: #f1f1f1;
  background: #30394a;
}

.nav-icon:hover .nav-link{
  color: #f1f1f1;
  background: #30394a;
}

.fa-check-square {
  color: #f9f914;
}
.blue-square {
  color: blue;
}
.red-square {
  color: red;
}

.green-square {
  color: green;
}
.last-link  {
  margin: 0 0 16px 0 ;
}

.nav-hr  {
  border: 0;
  border-top: 2px solid #323b4c;
  margin-top: 27px;
}

/*main
/*------------------------------------*/

.main-site  {
  width: 100%;
  height: auto;
  background: #edf2f6;
}

.slide  { /* uses slide() */
  margin-left: 250px;
  transition: 0.5s;
}

.admin-header {
  width: 100%;
  height: 80px;
  background: #FFF;
  display: flex;
}

.admin-sec  {
  width: 8%;
  height: 80px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #d6dbdf;
  border-right: solid 1px #d6dbdf;
}

.admin-sec i {
  color: #9190a0;
}

.admin-sec:hover i {
  color: #fff;
}

.admin-sec-2  {
  width: 68%;
  height: 80px;
  background: #FFF;
  justify-content: flex-start;
}

/* admin box 1  menu slider   */
.menu-slider-button {
  width: 35px;
  height: 35px;
  border: none;
  background: none;
  background-repeat: round;
}


.admin-sec-1:hover  {
  color: #fff;
  background: #16a4fa;
}

.search-icon {
  width: 35px;
  height: 35px;
  margin: 0 12px 0 25px;
  border: none;
  background: none;
  background-repeat: round;
}

.search-field {
  width: 90%;
  height: 50px;
  font-size: 24px;
  color: #9190a0;
  background: #FFF;
  border: none;
}

input::placeholder {
  color: #9190a0;
}

.admin-sec-2:hover input::placeholder {
  color: #16a4fa;
}

.admin-sec button {
  width: 35px;
  height: 40px;
  border: none;
  background: none;
  background-repeat: round;
  transition: 0.3s
}

.admin-sec-1:hover  .add-member  {
  color: #fff;
  cursor: pointer;
}

.box-button:hover, .calender-button:hover {
  cursor: pointer;
}

/*Service Header */
/*------------------------------------*/

.service-header {
  width: 100%;
  height: 110px;
  display: flex;
}

.service-section  {
  width: 70%;
  height: 110px;
  background: #FFF;
    display: inline-block;
}

.job-title  {
  font-size:40px;
  color: #9190a0;
  margin: 18px 0 0 44px;
}

.location-icon  {
  width: 20px;
  height: 15px;
  margin: 0 0 0 44px;
}

.city {
  font-size: 20px;
  color: #d0d1d5;
  display: inline;
}

.preview  {
  font-size: 20px;
  color: #57afdf;
  margin: 0 0 0 20px;
  display: inline;
}

.preview:hover  {
  cursor: pointer;
}

.service-nav-sec  {
  width: 30%;
  height: 110px;
  background: #FFF;
  display: flex;
  align-items: center;
  float: right;
}

.open-button-container  {
  background: none;
  width: 100px;
  height: 40px;
  border: solid 1px #9190a0;
  border-radius: 25px;
  margin: 0 20px 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-dot  {
  color: #B1E566;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.open-button  {
    height: 40px;
    background: none;
    border: solid 1px #9190a0;
    padding: 8px;
    border-radius: 20px;
    margin: 0 20px 0 0;
  }

.open-button:hover{
  color: #FFF;
  background: #57afdf;
}

.side-button {
  color: #9190a0;
  width: 25px;
  height: 25px;
  border: none;
  margin: 6px 0px 0px 6px;
  background: none;
}

.side-button:hover {
  color: #fff;
}

.button-border  {
  width: 40px;
  height: 40px;
  border: solid 1px #9190a0;
  border-radius: 100px;
  margin: 0 20px 0 0;
}

.button-border:hover  {
  background: #57afdf;
  cursor: pointer;
}

/*Nav header*/
/*------------------------------------*/

.nav-header {
  width: 100%;
  height: 55px;
  background: #FFF;
  display: flex;
}

.nav-title  {
  font-size: 16px;
  color: #d0d1d5;
  margin: 0 0 0 4%;
  display: inline;
  line-height: 55px;
}

.nav-title:hover  {
  color: #9190a0;
  transform: scale(1.1);
  border-bottom: solid 3px #07a4ff;
  cursor: pointer;
}

/*Circle graph styling
*/

.circle-graph-sec  {
  width: 55%;
  height: 300px;
  background: blue;
  display: inline-block;
}

.circle-graph-chart  {
  width: 100%;
  height: 240px;
  background: #edf2f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circ-graph  {
  height: 170px;
  width: 170px;
  background: #edf2f6;
  border-radius: 100px;
}

.circ-1  {
  border-top: solid 12px #dae4e9;
  border-bottom: solid 12px #dae4e9;
  border-left: solid 12px #dae4e9;
  border-right: solid 12px #dae4e9;
  margin-right: 45px;
  transform: rotate(30deg);
  transition: 3s;
}

.circ-1a {
  border-top: solid 12px #FFA500;
  border-bottom: solid 12px #FFA500;
  border-left: solid 12px #FFA500;
}

.circ-2  {
  border-top: solid 12px #dae4e9;
  border-bottom: solid 12px #dae4e9;
  border-left: solid 12px #dae4e9;
  border-right: solid 12px #dae4e9;
  margin-right: 45px;
  transform: rotate(30deg);
  transition: 3s;
}

.circ-2a {
  border-bottom: solid 12px #07a4ff;
  border-left: solid 12px #07a4ff;
}

.circ-3  {
  border-top: solid 12px #dae4e9;
  border-bottom: solid 12px #dae4e9;
  border-left: solid 12px #dae4e9;
  border-right: solid 12px #dae4e9;
  transform: rotate(-40deg);
  transition: 3s;
}

.circ-3a  {
  border-left: solid 12px #b36bb5;
  border-top: solid 12px #b36bb5;
  border-right: solid 12px #b36bb5;

}

.count  {
  font-size:40px;
  color: #565c72;
  position: relative;
}

.count-1  {
  transform: rotate(-30deg);
  top: 25px;
  left: 20px;
}

.count-2  {
  transform: rotate(-30deg);
  top: 25px;
  left: 20px;
}

.count-3  {
  transform: rotate(40deg);
  top: 65px;
  left: 33px;
}

.circle-title {
  font-size: 15px;
  color: #565c72;
  position: relative;
}

.circ-title-1 {
  transform: rotate(-30deg);
  top: -9px;
  left: 37px;
}

.circ-title-2 {
  transform: rotate(-30deg);
  top: -9px;
  left: 37px;
}

.circ-title-3 {
  transform: rotate(40deg);
  top: 26px;
  left: 10px;
}

.views-button-container {
  width: 100%;
  height: 60px;
  background: #edf2f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.views-button {
  height: 30px;
  width: 200px;
  color: #565c72;
  background: #FFF;
  border-radius: 20px;
  border: solid 1px #d0d1d5;
}

.views-button:hover {
  background: #FFA500;
  color: #FFF;
  cursor: pointer;
}


/*Bar graph styling
*/

.bar-graph-sec  {
  width: 44%;
  height: 300px;
  display: inline-block;
  float: right;
}

.bar-graph-container  {
  width: 100%;
  height: 200px;
  background: #edf2f6;
  margin-top: 20px;
  display: flex;
}

.bar-graph-numbers  {
  width: 10%;
  height: 100%;
  background: #edf2f6;
  display: inline-block;
}

.graph-numbers  {
  font-size: 14px;
  color: #565c72;
  margin: 14px 0 0 9px;
  text-align: right;
}

.bargraph-chart-container {
  width: 89%;
  height: 100%;
  display: inline-block;
}

.bars-container {
  width: 100%;
  height: 100%;
  background: #edf2f6;
  display: flex;
}

.bar-base {
  height: 100%;
  width: 8%;
  background: orange;
  margin-left: 2%;
  display: inline-block;
}

.bb1  {
  margin-left: 5px;
}

.bb14  {
  margin-right: 10%;
}

.bar-color  {
  width: 100%;
  background: #dae4e9;
}

.bar1  {
  height: 90%;
}

.bar2  {
  height: 60%;
}

.bar3  {
  height: 50%;
}

.bar4  {
  height: 30%;
}

.bar5  {
  height: 70%;
}

.bar6  {
  height: 60%;
}

.bar7  {
  height: 80%;
}

.bar8  {
  height: 90%;
}

.bar9  {
  height: 30%;
}

.bar10  {
  height: 20%;
}

.bar11  {
  height: 40%;
}

.bar12  {
  height: 50%;
}

.bar13  {
  height: 60%;
}

.bar14  {
  height: 80%;
}

.days-container {
  width: 100%;
  height: 18px;
  background: #edf2f6;
  display: flex;
}

.day-container {
  height: 18px;
  width: 8%;
  background: #edf2f6;
  margin-left: 2%;
  display: inline-block;
}

.day  {
  font-size: 14px;
  color: #565c72;
  text-align: center;
}

.dc1  {
  margin-left: 5px;
}

.dc14  {
  margin-right: 10%;
}

.applicants-button-container {
  width: 100%;
  height: 60px;
  background: #edf2f6;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.applicants-button {
  height: 30px;
  width: 200px;
  color: #565c72;
  background: #FFF;
  border-radius: 20px;
  border: solid 1px #d0d1d5;
}

.applicants-button:hover {
  background: #FFA500;
  color: #FFF;
  cursor: pointer;
}


/*Divider Section*/


.divider {
  width: 100%;
  height: 60px;
  display: flex;
}

.divider-1  {
  width: 47.5%;
  height: 60px;
  background: #edf2f6;
}

.divider-hr-1 {
  margin: 29px 0 0 0px;
  width: 94%;
  height: 1px;
  border-top: 1px solid #dae4e9;
  float: right;
}

.divider-2  {
  width: 3%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand-button {
  width: 30px;
  height: 30px;
  border: solid 1px #dae4e9;
  border-radius: 100px;
  background: #FFF;
  transition: 0.5s;
}

.expand-button:hover  {
  cursor: pointer;
}

.divider-3  {
  width: 47.5%;
  height: 60px;
  background: #edf2f6;
  display: inline-block;
}

.divider-hr-2 {
  margin: 29px 0px 0 2px;
  width: 94%;
  height: 1px;
  border-top: 1px solid #dae4e9;
}

/*job-description*/

.lower-body-container {
  display: flex;
}

.job-desription-container  {
  width: 69%;
  height: auto;
  background: #edf2f6;
}

.job-description-page {
  width: 90%;
  background: #FFF;
  margin: auto;
  margin-top: 30px;
}

.job-description-body {
  margin-bottom: 40px;
}

.job-description-header {
  width: 100%;
  height: 80px;
  background: #717c98;
  margin-bottom: 25px;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  display: inline-block;
  margin: 25px 0 0 30px;
}

.edit-icon  {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: inline-block;
}

.edit-button {
  font-size: 18px;
  color: #FFF;
  font-weight: bold;
  background: #7a88a3;
  margin-left: 20px;
  display: inline-block;
  padding: 6px 12px 4px 12px;
}

.title-box  {
  width: 20%;
  display: inline-block;
  margin-left: 25px;
}

.edit-button:hover  {
  border: solid 2px #FFF;
  cursor: pointer;
}

.description-title  {
  font-size: 14px;
  color: #717c98;
  font-weight: bold;
}

.description  {
  position: relative;
  top:  -32px;
}

.body-box {
  width: 50%;
  display: inline-block;
  margin-left: 40px;
}

.description-body  {
  font-size: 14px;
  color: #717c98;
  margin-top: -12px;
}

.description-hr {
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}

.hiring-lead  {
  width: 30px;
  height: 30px;
  margin: 0 12px 0 0;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  top: 10px;
}

.last-body  {
  margin-bottom: 25px;
}

/*Side links */

.side-links-container  {
  width: 30%;
  height: auto;

  margin-top: 30px;
}

.social-links-container  {
  width: 100%;
}

.social-box {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.social-box:hover {
  border: solid 3px #FFF;
  cursor: pointer;
}

.facebook {
  background: #4b6fc3;
}

.twitter  {
  background: #00a8ef;
}

.email  {
  background: #037dbc;
}

.social-icon {
  width: 25px;
  height: 25px;
  margin: 0 0 0 0;
  position: relative;
  left: -25%;
}

.social-title {
  font-size: 14px;
  color: #FFF;
}

.link-to-job-container  {
  width: 100%;
}

.button-widget-container  {
  width: 100%;
}

.upload-resumes-container  {
  width: 100%;
}

.input-title  {
  font-size: 20px;
  color: #717c98;
  font-weight: bold;
  margin: 0 0 0 0;
}

.input-icon {
  width: 15px;
  height: 15px;
  margin: 18px 10px 0 0;
}

.input-text {
  font-size: 14px;
  color: #9190a0;
  margin: 18px 0 0 0;
}

.input-field  {
  width: 80%;
  height: 35px;
  font-size: 16px;
  color: #9190a0;
  background: #FFF;
  border: none;
  margin-top: 16px;
}

.last-input-field {
  width: 100%;
  height: 35px;
  font-size: 16px;
  color: #9190a0;
  background: #FFF;
  border: none;
  margin-top: 16px;
}


input::placeholder {
    color: #9190a0;
}


.input-button {
  width: 19%;
  height: 35px;
  border: none;
  background: #FFA500;
  transition: 0.3s;
  margin: 0 0 0 -4px;
  color: #FFF;
  line-height: 33px;
}

.input-button:hover{
  border: solid 1px #FFF;
  cursor: pointer;
}

.input-hr {
  margin: 20px 0 20px 0;
  width: 100%;
}


@media screen and (max-width: 1130px) {

.circle-graph-sec {
  display: block;
  width: auto;
}

.bar-graph-sec  {
  display: block;
  float: none;
  width: auto;
}

}

@media screen and (max-width: 1025px) {

.side-button  {
  width: 18px;
  height: 18px;
  margin: 5px 0 0 5px;
}

.button-border  {
  width: 30px;
  height: 30px;
}


.green-dot  {
  width: 12px;
  height: 12px;
}


.job-title  {
  font-size: 35px;
}

.social-icon  {
  left: -20%
}

.twitter-icon {
  left: -22%
}

}


@media screen and (max-width: 900px) {

.lower-body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.job-desription-container {
  width: 100%;
}

.side-links-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.job-description-body {
  margin-bottom: 12px;
}

.social-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social-links-container i {
  padding-right: 20px;
}

.divider-2  {
  width: 9%;
}

.nav-title  {
  font-size: 12px;
color: #d0d1d5;
margin: 0 0 0 3%;
display: inline;
line-height: 55px;
}

}

@media screen and (max-width: 830px) {

  .job-title  {
    font-size: 32px;
  }

  .preview  {
    font-size: 16px;
  }

  .city {
    font-size: 16px;
  }

  .service-nav-sec  {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    align-items: center;
    justify-content: center;
  }

  .header-button-container  {
    margin: 5px 20px 0 6px;
  }

  .service-section  {
    width: 80%;
  }

}


@media screen and (max-width: 670px) {

.service-section  {
  height: 130px;
}

.service-nav-sec  {
  height: 130px;
}

.search-field {
  font-size: 17px;
}

.search-icon  {
  width: 25px;
  height: 25px;
}

.add-member {
  width: 21px;
  height: 24px;
}

.calender-button  {
  width: 18px;
  height: 20px;
}

.menu-slider-button {
  width: 20px;
  height: 20px;
}

.admin-sec  {
  height: 60px;
}

.admin-sec-2  {
  height: 60px;
}

.admin-header {
  height: 60px;
}

}

@media screen and (min-width: 630px) {

.nav-option {
  display: none;
}

}

@media screen and (max-width: 630px) {

  .nav-header {
    display: none;
  }

  .circle-graph-sec  {
    width: 100%;
    height: auto;
    background: blue;
    display: inline-block;
  }

  .circle-graph-chart  {
    width: 100%;
    height: auto;
    background: #edf2f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .circ-graph  {
    height: 170px;
    width: 170px;
    background: #edf2f6;
    border-radius: 100px;
  }

  .circ-1  {
    border-top: solid 12px #dae4e9;
    border-bottom: solid 12px #dae4e9;
    border-left: solid 12px #dae4e9;
    border-right: solid 12px #dae4e9;
    margin-right: 0px;
    margin-top: 20px;
    transform: rotate(30deg);
    transition: 3s;
  }

  .circ-1a {
    border-top: solid 12px #3eb4c2;
    border-bottom: solid 12px #3eb4c2;
    border-left: solid 12px #3eb4c2;
  }

  .circ-2  {
    border-top: solid 12px #dae4e9;
    border-bottom: solid 12px #dae4e9;
    border-left: solid 12px #dae4e9;
    border-right: solid 12px #dae4e9;
    margin-right: 0px;
        margin-top: 20px;
    transform: rotate(30deg);
    transition: 3s;
  }

  .circ-2a {
    border-bottom: solid 12px #07a4ff;
    border-left: solid 12px #07a4ff;
  }

  .circ-3  {
    border-top: solid 12px #dae4e9;
    border-bottom: solid 12px #dae4e9;
    border-left: solid 12px #dae4e9;
    border-right: solid 12px #dae4e9;
    transform: rotate(-40deg);
        margin-top: 20px;
    transition: 3s;
  }

  .circ-3a  {
    border-left: solid 12px #b36bb5;
  }

  .circle-counter  {
    font-size:40px;
    color: #565c72;
    position: relative;
  }

  .count-1  {
    transform: rotate(-30deg);
    top: 25px;
    left: 20px;
  }

  .count-2  {
    transform: rotate(-30deg);
    top: 25px;
    left: 20px;
  }

  .count-3  {
    transform: rotate(40deg);
    top: 65px;
    left: 33px;
  }

  .circle-title {
    font-size: 15px;
    color: #565c72;
    position: relative;
  }

  .circ-title-1 {
    transform: rotate(-30deg);
    top: -9px;
    left: 37px;
  }

  .circ-title-2 {
    transform: rotate(-30deg);
    top: -9px;
    left: 37px;
  }

  .circ-title-3 {
    transform: rotate(40deg);
    top: 26px;
    left: 10px;
  }

  .views-button-container {
    width: 100%;
    height: 60px;
    background: #edf2f6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .views-button {
    height: 30px;
    width: 200px;
    color: #565c72;
    background: #FFF;
    border-radius: 20px;
    border: solid 1px #d0d1d5;
  }

  .views-button:hover {
    background: #3eb4c2;
    color: #FFF;
    cursor: pointer;
  }

  .description{
    top: -53px;
  }

  .service-section  {
    height: 135px;
  }

  .service-nav-sec  {
    height: 135px;
  }

}


@media screen and (min-width: 481px) {

.side-button-extra{
  display: none;
}

.button-border-extra  {
  display: none;
}

}

@media screen and (max-width: 500px) {

  .job-title  {
    font-size: 19px;
    margin: 8px 0 0 10px;
  }

  .location-icon  {
    margin: 0 0 0 12px;
    width: 12px;
    height: 11px;
  }

  .preview  {
    font-size: 11px;
    margin: 0 0 0 8px;
  }

  .city {
    font-size: 12px;
  }

  .service-nav-sec  {
    float: none;
    width: 100%;
    height: 45px;
  }

  .service-section  {
    width: 100%;
    height: 64px;
  }

  .header-button-container  {
    margin-left: 30px;
  }

  .search-field {
    font-size: 12px;
  }

}


@media screen and (max-width: 480px) {

  .description  {
    top: -74px;
  }

  .admin-right  {
    display: none;
  }

  .admin-sec-2  {
    width: 80%;
  }

  .admin-sec-1 {
    width: 20%
  }

  .search-icon  {
    margin: 0 12px 0 7px;
  }

}

@media screen and (max-width: 430px) {

.button-border  {
  margin: 0 8px 0 0;
}

.header-button-container  {
  margin: 0px 6px 0 6px;
}

}

@media screen and (max-width: 390px) {

.description-title  {
  font-size: 12px;
}

.description-answer {
  font-size: 12px;
}

}

@media screen and (max-width: 376px) {

  .descirption  {
    top: -67px;
  }

  .header-title {
  font-size: 17px;
    font-weight: bold;
    color: #FFF;
    display: inline-block;
    margin: 25px 0 0 20px;
  }

}